aenum
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
albucore
albumentations
alembic
altair
annotated-types
antlr4-python3-runtime
anyio
arrow
arxiv
asgiref
asttokens
async-timeout
attrs
Authlib
backoff
bcrypt
beautifulsoup4
bidict
binaryornot
blinker
bs4
build
cachetools
certifi
cffi
chardet
charset-normalizer
chromadb
click
cnocr
cnstd
colorama
coloredlogs
colorlog
comm
contourpy
cookiecutter
cryptography
cssselect
cssutils
cycler
cyclopts
dataclasses-json
datasets
debugpy
decorator
deepgram-sdk
defusedxml
deprecation
dill
distlib
distro
Django
django-browser-reload
django-cors-headers
django-jwt-auth
django-tailwind
dnspython
doclayout_yolo
docstring_parser
docutils
docx2txt
dotenv
durationpy
einops
email-validator
emoji
et_xmlfile
eventlet
exceptiongroup
executing
extensions
faiss-cpu
fastmcp
feedparser
filelock
filetype
Flask
flask-cors
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
flatbuffers
fonttools
fpdf
frozenlist
fsspec
ftfy
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
GPUtil
greenlet
groq
grpcio
grpcio-status
h11
html5lib
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
imageio
imagesize
importlib_metadata
importlib_resources
ipykernel
ipython
isodate
itsdangerous
jedi
Jinja2
jiter
joblib
jsonlines
jsonpatch
jsonpointer
jsonschema
jsonschema-path
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-groq
langchain-nomic
langchain-ollama
langchain-openai
langchain-text-splitters
langdetect
langsmith
lazy-object-proxy
lazy_loader
lightning-utilities
loguru
lxml
Mako
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mcp
mdurl
mmh3
more-itertools
mpmath
multidict
multiprocess
mypy_extensions
narwhals
nest-asyncio
networkx
ninja
nltk
nomic
numpy
oauthlib
olefile
ollama
omegaconf
onnx
onnxruntime
openai
openapi-core
openapi-pydantic
openapi-schema-validator
openapi-spec-validator
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opt-einsum
optimum
orjson
overrides
packaging
paddleocr
paddlepaddle
paddlex
pandas
parse
parso
pathable
pillow
pix2text
platformdirs
posthog
premailer
prettytable
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
py-cpuinfo
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
pybase64
pyclipper
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydub
pygame
Pygments
PyJWT
PyMuPDF
pyparsing
pypdf
pypdfium2
pyperclip
PyPika
pyproject_hooks
pyreadline3
pyspellchecker
pytesseract
python-bidi
python-dateutil
python-dotenv
python-engineio
python-iso639
python-magic
python-multipart
python-oxmsg
python-slugify
python-socketio
pytorch-lightning
pytz

PyYAML
pyzmq
RapidFuzz
rapidocr
referencing
regex
reportlab
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rich
rich-rst
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-image
scikit-learn
scipy
seaborn
sentence-transformers
sentry-sdk
sgmllib3k
shapely
shellingham
simple-websocket
simsimd
six
smmap
sniffio
sounddevice
soundfile
soupsieve
SpeechRecognition
SQLAlchemy
sqlparse
srt
sse-starlette
stack-data
starlette
streamlit
streamlit-audiorec
streamlit-audiorecorder
streamlit_mic_recorder
stringzilla
sympy
tenacity
text-unidecode
thop
threadpoolctl
tifffile
tiktoken
tokenizers
toml
tomli
torch
torchmetrics
torchvision
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
typing-inspect
typing-inspection
typing_extensions
tzdata
ujson
ultralytics
ultralytics-thop
Unidecode
unstructured
unstructured-client
uritemplate
urllib3
uv
uvicorn
virtualenv
wandb
watchdog
watchfiles
wcwidth
webencodings
websocket-client
websockets
webvtt-py
Werkzeug
wikipedia
win32_setctime
wrapt
wsproto
xxhash
yarl
youtube-transcript-api
yt-dlp
zipp
zstandard
